<header>
    <a class="logo" href="/">Лого</a>
    <form action="/check" method="post">
        <input type="text" name="charname" placeholder="Ввведите имя">
        <button type="submit">Поиск</button>
    </form>
</header>